<header>
    <address>
        <h1>[Brie Broussard]</h1>
        <h2>2D Animator</h2>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <a href="tel:{{ site.phone_link }}">{{ site.phone }}</a>
    </address>
    <a href="https://instagram.com/{{ site.instagram_username }}">{{ site.instagram_username }}</a>
    <nav>
        <a href="index.html">Reel</a
        ><a href="portfolio.html">Portfolio</a
        ><a href="sketchbook.html">Sketchbook</a
        ><a href="about.html">About</a
        ><a href="resume.html">Resume</a>
    </nav>
</header>
