<header>
    <img class="bg_img" src="/assets/banner.jpg" />
    <address>
        <h1>[Brie Broussard]</h1>
        <h2>2D Animator</h2>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <a href="tel:{{ site.phone_link }}">{{ site.phone }}</a>
    </address>
    <address style="justify-self: end;">
        <a href="https://instagram.com/{{ site.instagram_username }}">{{ site.instagram_username }}</a>
    </address>
    <nav>
        {% for nav_page in site.main %}
            {% assign nav_title = nav_page.title | default: nav_page.path %}
            <a href="{{ nav_page.url }}" {% if nav_page.title == page.title %} active="true" {% endif %}>{{ nav_title }}</a>
        {% endfor %}
    </nav>
</header>
