---
---

$main-bg: #501160;
$nav-bg: #401150;
$nav-text: #ffffff;
$nav-current-page: #aaddbb;

$header-img-height: 15lvh; // hack to get the banner image the right size

// mostly-universal rules; applied to (nearly) everything unless overriden by a more specific rul
body {
	color: #ffffff;
	background-color: #000000;

	width: 75%;
	max-width: 78em; // limit the size on big screens

	margin: auto;
}

// rules applied to links
a {
	// make it white instead of blue
	color: #ffffff;
}

img {
	object-fit: contain;
}

// the header that shows up on every page
header {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: $header-img-height 4lvh;
	// background image
	img.bg_img {
		z-index: -1;
		position: fixed;
		object-fit: cover;
		width: 100%;
		left: 0px;
		height: $header-img-height;
	}
	// this is the part of the header with your name, email, etc.
	address {
		grid-row: 1;
		margin: 1em;
		align-self: end;

		font-style: normal;
		text-shadow: 0.2em 0.2em 6px black;

		display: flex;
		flex-direction: column;
		a {
			font-weight: bold;
			// no underline
			text-decoration: none;
		}
		h1, h2 {
			// remove space between big text lines
			margin: 0px;
		}
	}
	// this is the navigation button section (`Reel Portfolio Sketchbook About Resume`)
	nav {
		background-color: $nav-bg;
		grid-row: 2 / -1;
		grid-column: 1 / -1;
		display: flex;
		align-items: center;
		align-content: space-evenly;
		justify-content: space-evenly;
		a {
			color: $nav-text;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
		}
		a[active="true"] {
			color: $nav-current-page;
		}
	}
}

main {
	display: flex;
	justify-content: space-around;
	flex-direction: column;

	background-color: $main-bg;

	margin: auto;

	padding: 4lvh 4lvw 4lvh 4lvw;

	iframe {
		width: 100%;
		// `40lvh` is "40% of the height of the viewport"
		height: 40lvh;
	}

	embed.resume {
		align-self: center;
		width: 100%;
		height: 75lvh;
	}
}

footer {
	margin: 1em auto auto auto;
	justify-content: space-evenly;
	address {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-evenly;
		font-style: normal;
		a {
			text-align: center;
		}
	}
}

div.image-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
	grid-template-rows: auto;
	grid-auto-rows: minmax(12em, auto);

	column-gap: 1em;
	row-gap: 1em;

	// a {
	// 	display: block;
	// 	text-align: center;
	// 	max-width: 12em;
	// 	max-height: 12em;
	// }
	img {
		object-fit: contain;
		margin: auto;
		width: 100%;
		height: 100%;
	}
}

